
<app-shared-table [columns]="columns">
  @for (item of filteredItems(); track item.id) {

    <tr (click)="openItemDetails(item)"
        class="clickable-row"
    >
      <app-item-row-data [columns]="columns" [item]="item">
      </app-item-row-data>
    </tr>
  }
</app-shared-table>


@if (showSidePanel && selectedItem) {
  <div class="side-panel">
    <app-item-detail-side-panel
      [item]="selectedItem"
      [activeUser]="activeUser()"
      (closePanel)="closeSidePanel()"
    ></app-item-detail-side-panel>
  </div>
}
