@use 'styles/utils' as ds;

:host {
  width: 88%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: ds.$bg-color;

  #up-section {
    height: 40%;
    display: flex;
    gap: 2rem;
  }

  #down-section {
    height: 60%;
  }

  #up-section,
  #down-section {
    display: flex;
    padding: ds.$medium-size;
  }
}