@if (!isInitializing) {
  <div id="up-section">
    <app-shared-card title="">
      <app-budget
          [activeUser]="activeUser()"
      ></app-budget>
    </app-shared-card>

    <app-shared-card title="Exclusive ownership items">
      <app-readonly-item-list
          [activeUser]="activeUser()"
      ></app-readonly-item-list>
    </app-shared-card>

    <app-shared-card title="Finalized shared items">
      <app-finalized-shared-item-list
          [activeUser]="activeUser()"
      ></app-finalized-shared-item-list>
    </app-shared-card>
  </div>

  <div id="down-section">
    <app-shared-card title="Shared items pending proposals">
      <app-proposal-eligible-shared-item-list
        [activeUser]="activeUser()"
      ></app-proposal-eligible-shared-item-list>
    </app-shared-card>
  </div>
}



