:host {

  #dashboard {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    #up-section,
    #down-section {
      display: flex;

      app-sent-proposal-item-list {
        flex: 2;
      }

      app-action-required-item-list {
        flex: 3;
      }
    }
  }
}