<div class="detail-panel">

  <div class="panel-header">
    <h2>{{ item.name }}</h2>
    <button class="close-btn" (click)="onClose()">✕</button>
  </div>

  <div class="panel-body">

    <p class="description">{{ item.description }}</p>
    <div class="cost-owners">
      <span class="cost">Total Cost: {{ item.totalCost + '€' }}</span>
      <div class="owners">
        @for (owner of item.owners; track owner.id) {
          <span class="owner-badge">
            {{ owner.name }}
          </span>
        }
      </div>
    </div>

  </div>

  <app-proposal [item]="item"
                [ownerId]="ownerId"
                [activeUser]="activeUser"
  ></app-proposal>

</div>