$primary-color: #0085db;
$secondary-color: #707a82;
$info-color: #46caeb;
$success-color: #4bd08b;
$warning-color: #f8c076;
$error-color: #fb977d;

$bg-color: #F5F7FF;
$text-primary-color: #2A3547;
$border-color: #e5eaef;
$hover-color: #f6f9fc;
