$primary-color: #0085db;
$secondary-color: #707a82;
$info-color: #248AFD;
$success-color: #57B657;
$warning-color: #FFC100;
$error-color: #FF4747;

$light-blue-color: #7DA0FA;
$medium-blue-color: #7978E9;
$dark-blue-color: #4747A1;
$danger-color: #F3797E;

$bg-color: #F5F7FF;
$text-primary-color: #2A3547;
$border-color: #e5eaef;
$hover-color: #f6f9fc;
