@use 'styles/utils' as ds;

:host {
  .card {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    background-color: ds.$border-color;
    border-radius: .8rem;
    padding: 1.5em;

    .card-header {
      h5 {
        flex: 1;
        font-weight: semi-bold;
      }
    }

    .card-body {
      flex: 5;
    }
  }
}