<nav class="sidebar-container">
  <div class="sidebar-menu">
    <h1 class="menu-item">{{ activeUser().party.name }}</h1>
    <h1 class="menu-item">Item Management Dashboard</h1>
  </div>

  <div
    class="user-section"
    (mouseenter)="onHoverActiveUserInfo(true)"
    (mouseleave)="onHoverActiveUserInfo(false)"
  >

  @if (activeUser()) {
    <span class="user-name">
      {{ activeUser().name }}
    </span>
  }

  @if (showSwitchButton) {
    <button
      class="switch-btn"
      (click)="openSwitchModal()"
    >
      Switch user account
    </button>
  }
  </div>
</nav>

@if (isSwitchModalOpen) {
  <app-user-switch
    [users]="users"
    [activeUser]="activeUser()"
    (close)="closeSwitchModal()"
  ></app-user-switch>
}


