@use 'styles/utils' as ds;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: 'Poppins', sans-serif;
  color: ds.$text-primary-color;
  background-color: #ffffff;

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.6rem;
  }
}