@use 'styles/utils' as ds;
@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: 'Nunito', sans-serif;
  color: ds.$text-primary-color;
  background-color: #ffffff;
  font-size: .9rem;

  h5 {
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 600;  }
}